# **Pertemuan 2**

1. Syntaks (Kodingan) Dasar Python

Semua yang bisa dieksekusi oleh python disebut **Statement**.

In [ ]:
print("ini merupakan statement dalam bahasa python")

ini merupakan statement dalam bahasa python

2. Komentar dalam Python
Tanda **pagar (#)** digunakan sebagai komentar, atau catatan yang tidak terbaca program.

In [ ]:
#apapun yang ditulis disini
#pasti tidak akan terbaca oleh program

3. Tanda Kutip di Python
Python menggunakan **tanda kutip tunggal ('), ganda ("), maupun triple ("' atau """) untuk menandai string, sepanjang stringnya diawali oleh tanda kutip yang sama di awal dan akhir string**. Tanda kutip tiga digunakan untuk string multibaris. Ketiga contoh berikut, semuanya adalah benar.

In [ ]:
kata = "kata"
kalimat = "Ini adalah kalimat"
paragraf = """ Ini adalah paragraf terdiri dari beberapa baris """

print(paragraf)

 Ini adalah paragraf terdiri dari beberapa baris

In [ ]:
print("Halo Dunia")

Halo Dunia

# Variabel dan Tipe Data

**Variabel** merupakan nilai yang bisa berubah-ubah

**Tipe Data** merupakan nilai yang sifatnya tetap / konstanta

In [ ]:
#Nama Variabel = Nilai Variabel
nama_variabel = 1000
nama_variabel

1000

## Macam - Macam Tipe Data

In [ ]:
# String = Tipe data yang menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit tanda " atau ')
"Ini String"

'Ini String'

In [ ]:
# Integer (int) = Tipe data yang menyatakan angka berupa bilangan bulat, 1,2,3,4,5,6,7,8,9,0
23092021

23092021

In [ ]:
# Float = Tipe data yang menyatakan angka berupa bilangan desimal, seperti: 1.0, 2.0, 3.0, 3.14
3.14

3.14

In [ ]:
# Boolean = Tipe data yang menyatakan kondisi benar (True) atau salah (False)
manusia = False
print("Apakah kamu manusia?")
manusia

Apakah kamu manusia?

False

In [ ]:
# List = Tipe data yang bisa menyimpan berbagai tipe data didalamnya
daftar = ["String",10,3.14, True]
daftar

['String', 10, 3.14, True]

In [ ]:
# Tuple = Sama seperti list, tapi isinya tidak bisa diubah
tupel = ("String",10,3.14, False)
tupel

('String', 10, 3.14, False)

In [ ]:
# Dictionary = Tipe data yang menyatakan definisi
kamus = {'huruf': "String", 'angka':101, 'phi':3.14}
kamus

{'angka': 101, 'huruf': 'String', 'phi': 3.14}

# Input (Masukkan) dan Output (Keluaran)



*   Input

In [ ]:
# input berfungsi membaca data dari apa yang kita ketikkan dari keyboard sebagai string
input("masukkan kalimat disini: ")
# apabila kita ingin input yang hanya berupa angka, tinggal tambahkan tipe data int
# int(input("masukkan angka disini: "))

masukkan kalimat disini: test

'test'



*   output

In [ ]:
# dalam python ini, untuk menampilkan sesuatu kita hanya tulis syntaksnya sesuai tipe data atau cukup tambahkan print
#"ini akan langsung tampil"
# nama = "nilai"
# print(nama)
input()
# print()

ssss

'ssss'

# Membuat kodingan sederhana

In [ ]:
nim = input("Masukkan NIM Anda: ")
nama = input("Masukkan Nama Anda: ")
jur = input("Masukkan Jurusan Anda: ")
almt = input("Masukkan Alamat Anda: ")

print("====================================\n"
"Hai, "+nama+"("+nim+") \n"
+"Asal kamu dari "+almt+"\n"
+ "Selamat kuliah di jurusan "+jur+". \n"
)

Masukkan NIM Anda: 11111
Masukkan Nama Anda: ssss
Masukkan Jurusan Anda: ddd
Masukkan Alamat Anda: kkk
====================================
Hai, ssss(11111)
Asal kamu dari kkk
Selamat kuliah di jurusan ddd.