In [ ]:
my_list_clear = ['a','b','c','d','e','f','g',3.14]
my_list_clear.clear()
my_list_clear.insert(0,5)
my_list_clear.append(10)
my_list_clear.insert(0,15)
my_list_clear.insert(3,20)
my_list_clear.pop(3)
my_list_clear.remove(5)
my_list_clear.sort(reverse=True)

my_list_clear

[15, 10]

In [ ]:
tupleku = (1,
           2,
           3,
           (4,5,6),
           3.14,
           [7,8,9]
           )

tupleku

(1, 2, 3, (4, 5, 6), 3.14, [7, 8, 9])

In [ ]:
tupleku[3][1]

5

In [ ]:
variabelku = [
    #[No, Nim, Nama]
    [1,'11111111',"Nama Kesatu"],
    [2,'22222222',"Nama Kedua"],
    [3,'33333333',"Nama Ketiga"],
    [4,'44444444',"Nama Keempat"],
    [5,'55555555',"Nama Kelima"]
]

In [ ]:
my_list_dua_dimensi = [
                       [
                        1, #indeks ke 0 dari kolom
                        2, #indeks ke 1 dari kolom
                        3 #indeks ke 2 dari kolom
                        ], #indeks ke 0 dari baris
                       [4,5,6], #indeks ke 1 dari baris
                       [7,8,9], #indeks ke 2 dari baris
                       [0], #indeks ke 3 dari baris
]

In [ ]:
# Baris pertama kolom pertama
print(my_list_dua_dimensi[2][1])

8

In [ ]:
tambah1 = ['a','b','c']
my_list_dua_dimensi.append(tambah1)

my_list_dua_dimensi

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0], ['a', 'b', 'c']]

In [ ]:
my_list_dua_dimensi[3].remove(0)
my_list_dua_dimensi

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [], ['a', 'b', 'c']]

In [ ]:
nilainya = ('x', 'y', 'z')
my_list_dua_dimensi.insert(3, nilainya)

my_list_dua_dimensi

[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 ('x', 'y', 'z'),
 ('x', 'y', 'z'),
 ('x', 'y', 'z'),
 ('x', 'y', 'z'),
 ('x', 'y', 'z'),
 [],
 ['a', 'b', 'c']]

In [ ]:
my_list_dua_dimensi.pop(4)
my_list_dua_dimensi.pop(3)
my_list_dua_dimensi.pop(3)

my_list_dua_dimensi

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
tambah1 = ('a','b','c')
my_list_dua_dimensi.append(tambah1)

In [ ]:
my_list_dua_dimensi

[[1, 2, 3], [4, 5, 6], [7, 8, 9], ('a', 'b', 'c')]

In [ ]:
my_list_dua_dimensi[3].append('d')

my_list_dua_dimensi

AttributeError: ignored

In [ ]:
#variable yg berulang menggunakan List/matriks
list_nim=[]
list_uts=[]
list_uas=[]
list_total=[]

ulang=2
for i in range(ulang):
  print ("data Ke - " + str(i+1))
  list_nim.append(input("Masukkan Nim anda : "))
  list_uts.append(int(input("Masukkan Nilai UTS anda:")))
  list_uas.append(int(input("Masukkan Nilai UAS : ")))

#proses
for i in range(ulang):
  list_total.append((list_uas[i] + list_uts[i]) / 2)

#Cetak
print("=============================================================")
print("Nim Nilai Uts Nilai UAS Total")
print("=============================================================")
for i in range(ulang):
  print ("%s \t %i \t\t %i \t\t\t %i" % (list_nim[i],list_uts[i],list_uas[i],list_total[i]))
print("=============================================================")

data Ke - 1
Masukkan Nim anda : 12121212
Masukkan Nilai UTS anda:88
Masukkan Nilai UAS : 99
data Ke - 2
Masukkan Nim anda : 44444444
Masukkan Nilai UTS anda:80
Masukkan Nilai UAS : 80
=============================================================
Nim Nilai Uts Nilai UAS Total
=============================================================
12121212 	 88 		 99 			 93
44444444 	 80 		 80 			 80
=============================================================